# Credenciales Guesty Open API
GUESTY_CLIENT_ID=tu_client_id_aqui
GUESTY_CLIENT_SECRET=tu_client_secret_aqui

# Credenciales Telegram
TELEGRAM_BOT_TOKEN=tu_bot_token_aqui
TELEGRAM_CHAT_ID=tu_chat_id_aqui
